<form  method="post" action = "/delete">
  <input type="hidden" name="_method" value="delete"><br >
  <input type="text" name="id" value=""><br >
  <input type="submit" text="smth">
</form>

<!--  # <form action ="???" method ="post">
  # <input type="hidden" name="_method" value = "delete"/>
  # <input type="submit" value ="Delete" />
  # </form> -->